<vbox width="100%">
  <menubar width="100%" style="background-color:white;">
      <menu text="Preferences">
          <menuitem id="showDebug" text="Show Debug" />
          <menuitem id="hideDebug" text="Hide Debug" />
          <menuitem id="enableInteractions" text="Enable Interactions" />
          <menuitem id="disableInteractions" text="Disable Interactions" />
      </menu>
      <menu text="Help">
          <menuitem text="Documentation" />
      </menu>
  </menubar>
</vbox>